ul li {
    display:inline-block;
    list-style-type:none;
    border: 2px solid purple;
    width: 150px;
    padding: 15px 15px 15px 25px;
    margin-top: 0px;
    text-align: center;
    margin-left: 20px;

}
body {
    margin: 0;
    padding: 0:
    font-family: Helvetica;
}
.nav {
    background-color: #BBBBBB;
    color: #400768;
    list-style:none;
    text-align: center;
    padding: 20px 0 20px 0;

    .nav>li{
        display:inline:block;
        padding-right: 50px;
    }
.nav>li>a{
    text-decoration: none;
    color: #400768;
    }
.nav>li>a:hoover {
    color: #787878;
}
.nav {
    list-style:none;
    margin:0;
    padding: 20px 0px 20px 0px;
}
.nav>ul li{
    width:150px;
    position:relative;
    text-alighn: center;
    font-weight: bold;
    color: #400768;
}
}