.intro::first-letter {
    font=weight: bold;
    font-size: 200%;
    color:red;
}

.indent {
    text-indent: 20px;
} 

.container {
    background color: fff;
    border: none;
    padding: 5px;
}

