*{ 
    margin: 0;
    padding: 0;
}

h1 {
    color: #40076B;
}


h3 {
    color: #6E0DB8;
    text-align: justify-left;
}
img {
    border: 1px solid;
    Width:20%;
    }
}

body{
    background:#eee;
}

.wrapper {
    width:100%;
    max-width: 960px;
    margin:0 auto;
}
    nav ul {
        display:flex-center;
    }
    nav li {
        flex: 1 1 0;
    }
}
 



footer {
    text-align: left;
}


/* flex styles */

.container {
    display:grid;
    grid-template-columns: 1fr 5fr 2fr 1fr;
    grid-template-rows: 10em 5fr 2fr 1fr;
    gap: 1px;
}


.container> * {
    padding-top:10px;
    padding-right: 10px;
}

.blockquote {
    color: red;
}

a {
    h3: color: red;
    text-decoration:none;
}


.container {
    margin:unset;
    display:unset;
    grid-template-colums:unset;
    grid-template-rows:unset;
    gap:unset;
}
nav.
img.
a.
.title
.nav-toggle-label,

footer
a{
    display:none:
}
body {
    margin-top:10px;
    line-height:16pt;
    background:none;
    text-align: left;

}

@media (min-width:600px) {
*/mobile first/*
}

@media screen and (...){
    }
