*{ 
    margin: 0;
    padding: 0;
}

h1 {
    color: #40076B;
}

h3 {
    color: #6E0DB8;
    text-align: justify-left;
}

footer {
    text-align: left;
}

img {
    border: 1px solid;
    Width:20%;
    }

/* flex styles */
@media screen and (mn-width:768px)
    nav ul {
        display:flex-center;
    }
    nav li {
        flex: 1 1 0;
    }
}
